

  .hero {
    background-image: url("./assets/images/hero-bg-bottom.png"),
                      url("./assets/images/hero-bg.png"),
                      var(--gradient-1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -280px bottom, center, center;
    background-size: auto, cover, auto;
    padding-block-start: 120px;
    padding-block-end: var(--section-padding);
  }
  
  
  

  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  
  .heroContent {
    max-width: 50%;
  }
  
  .heroSubtitle {
    color: #e49c16;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  .heroTitle {
    font-size: 4rem;
    font-weight: bold;
    color: #f6f8fc;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  .heroText {
    color: #e8ecf1;
    font-size: 1.6rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  
  
    .btn {
      background-image: var(--gradient-2);
      background-size: 200%;
      color: var(--white);
      padding: 12px 35px;
      font-size: var(--fs-8);
      font-weight: var(--fw-500);
      border-radius: 0 25px;
      transition: var(--transition-2);
  }
  
  
  .btn:hover {
    background: linear-gradient(90deg, #e11d48, #ea580c);
  }
  
  
  .heroBanner {
    max-width: 50%;
  }
  
  .heroBanner img {
    width: 100%;
    height: auto;
    object-fit: contain;
    animation: bannerAnimation 2s infinite alternate ease-in-out;
  }
  
 
  @keyframes bannerAnimation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
    }
  }
  
  
  .w-100 {
    width: 100%;
  }
  
  .banner-animation {
    animation: bannerAnimation 2s infinite alternate;
  }
  