
.servicesContainer {
    padding-inline: 15px;
  }
  
  
  .section {
    padding-block: var(--section-padding);
    text-align: center;
  }
  
  
  .img {
    margin-inline: auto;
    margin-block-end: 30px;
    max-width: 100%;
    height: auto;
  }
  
  
  .sectionTitle {
    margin-block-end: 60px;
    font-size: var(--fs-2);
    color: var(--eerie-black);
    display: inline-block;
    text-align: center;
  }
  
  .sectionTitle span {
    color: var(--portland-orange); 
    display: inline; 
  }
  
  
  
  .gridList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: -10px;
  }
  
 
  .serviceCard {
    background-color: var(--white);
    border-radius: 8px;
   
    padding: 20px;
    text-align: center;
   
  }
  
  

  .cardIcon {
    max-width: max-content;
    margin-inline: auto;
  }
  
  .cardIcon img {
    width: 70px;
    height: 70px;
  }
  
  
  .cardTitle {
    margin-block: 10px;
    font-size: var(--fs-3);
    color: var(--eerie-black);
  }
  
  
  .cardText {
    color: var(--spanish-gray);
    font-size: var(--fs-6);
    line-height: 1.6;
  }
  
 
  .btn {
    background-color: var(--black);
    color: var(--white);
    max-width: max-content;
    padding: 8px 25px;
    font-weight: var(--fw-700);
    border-radius: 50px;
    transition: var(--transition-1);
  }
  
  .btn:hover {
    background-color: var(--dark-gray);
  }
  